<h1 class="text-center">Angular list of previous task</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page">Last works >>></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['cenzor']" routerLinkActive="active"
      >Cenzor</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['userlist']" routerLinkActive="active"
      >Users</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['tasklist']" routerLinkActive="active"
      >Task</a
    >
  </li>
</ul>

<router-outlet></router-outlet>
