<h1 class="text-center">Angular list of previous task</h1>
<hr />
<div class="container">
  <div class="row cards">
    <div class="col">
      <div class="card">
        <img
          src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/072/876/original/phone-book.PNG?1679390835"
          class="project-img"
        />
        <h2 class="text-center">Angular list of prohibited words</h2>
        <div class="wrapper">
          <a
            type="button"
            class="btn btn-success"
            [routerLink]="['/works/cenzor']"
            routerLinkActive="active"
            >Details</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/072/876/original/phone-book.PNG?1679390835"
          class="project-img"
        />
        <h2 class="text-center">Angular list of prohibited words</h2>
        <div class="wrapper">
          <a
            type="button"
            class="btn btn-success"
            [routerLink]="['/works/userlist']"
            routerLinkActive="active"
            >Details</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/072/876/original/phone-book.PNG?1679390835"
          class="project-img"
        />
        <h2 class="text-center">Angular list of prohibited words</h2>
        <div class="wrapper">
          <a
            type="button"
            class="btn btn-success"
            [routerLink]="['/works/tasklist']"
            routerLinkActive="active"
            >Details</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
